@model WebApplication1.Models.PassportItem

@{
    ViewBag.Title = "Удаление";
}

<h2>Удаление</h2>

<h3>Вы действительно ходите удалить данные?</h3>
<div>
    <h4>Анкетные данные</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Series)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Series)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfIssue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfIssue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssuaDepartmentCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssuaDepartmentCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlaceOfBirthId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaceOfBirthId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlaceOfIssue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaceOfIssue)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад к списку", "Index")
        </div>
    }
</div>
